footer {
  position: relative;
  z-index: 990 !important;
  background-color: rgb(250, 247, 236);
}
.newsletter-input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dark);
  background-color: transparent;
}
.newsletter-input+button {
  position: absolute;
  font-size: 12px;
}
.newsletter-input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dark);
  background-color: transparent;
}
.h-24px {
  height: 24px !important;
}
.to-top img {
  transform: rotate(-90deg);
}
.to-top:hover img{
  transform: rotate(275deg) !important;
}